* {
    font-family:fantasy
}

.title h1 {
    text-align: center;

}

span {
    color:white;
}

.title {
    background-color: red;
}

/* home page content */
.picture {
    width: 100%;
    height: 35vh;
}

.row {
    justify-content: center;
    height: 35vh;
    margin-top: 60px;
}


/* nav buttons */

.nav-tabs {
    justify-content: center;
}

.nav-link {
    color: red;
}

/* About us tab pane */

.about {
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

/* Ingredients and Recipes */

h3 {
    text-align: center;
    padding-top: 70px;
}

.container p {
    text-align: center;
}
.list-group {
    text-align: center;
}

/* carousel */
.carousel-control-next ,.carousel-control-prev{
    background: hotpink;
}

.carousel-item {
    height: 50vh;
}

.pic {
    max-width:100%;
    max-height:100%;
    text-align: center;
    display: block;
    margin: auto;
}

.carousel-item {
    background: grey;
}

.drow {
    height: 600px;
}

/* page three */

.map {
    width: 80%;
    margin: auto;
    padding: 79px 0;
}

.map iframe {
    width: 100%;
}

.address { 
    margin-top: 20px;
}