* {
    font-family:fantasy
}

.title h1 {
    text-align: center;

}

span {
    color:white;
}

.title {
    background-color: red;
}

/* home page content */
.picture {
    width: 100%;
    height: 35vh;
}

.row {
    justify-content: center;
    height: 35vh;
    margin-top: 60px;
}

.col-sm-3 {
}

/* nav buttons */

.nav-tabs {
    justify-content: center;
}

.nav-link {
    color: red;
}

/* About us tab pane */

.about {
    text-align: center;
    margin-top: 25px;
    padding: 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

/* Ingredients and Recipes */

h3 {
    text-align: center;
    padding-top: 70px;
}

.container p {
    text-align: center;
}
.list-group {
    text-align: center;
}